## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl # If this is checked in, one doesn't need biber to compile the docs
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.run.xml

## Build folder of Documenter.jl
docs/build/
